<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <aside class="sidebar">
        <img src="https://media.licdn.com/dms/image/v2/D4E03AQEwRV5n6gMIFg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1729259911429?e=1768435200&v=beta&t=q7-xZVqKcXvY2_4slTew76DHrlX0Ztl72SNxBiPy9V8" alt="Profile Photo" class="profile-photo">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
        <nav>
            <a href="{{ '/' | relative_url }}">posts</a>
            <a href="{{ '/about' | relative_url }}">whoami</a>
            <a href="{{ '/projects' | relative_url }}">projects</a>
            <a href="{{ '/links' | relative_url }}">links</a>
        </nav>
    </aside>
    <main class="content">
        {{ content }}
        <footer>
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}.</p>
        </footer>
    </main>
</body>
</html>
