---
layout: default
---

{% for post in site.posts %}
<article>
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <time>{{ post.date | date: "%d %b %Y" }}</time>
    {% if post.categories.size > 0 %}
        • {% for category in post.categories %}<span class="category">{{ category }}</span>{% unless forloop.last %} {% endunless %}{% endfor %}
    {% endif %}
    <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
    <a href="{{ post.url | relative_url }}">More …</a>
</article>
{% endfor %}
